.test1 {
  background: yellow;
  width: 100px;
  height: 100px;
  transform: translate(20px, 20px) rotate(10deg) scale(1.001);
}

.test2 {
  background: rgba(0, 255, 0, 0.9);
  width: 100px;
  height: 100px;
  translate: 40px 40px;
}

html {
  font-family: sans-serif;
  overflow: hidden;
  height: 100%;
}

body {
  display: flex;
  flex-flow: column;
  margin: 0;
  height: 100%;
}

main {
  flex: 1;
  padding: 10px;
  overflow: auto;
}

iframe {
  flex: 1;
}
